<h1><%= @post.title %></h1>
<p><%= raw sanitize(simple_format(@post.post_text)) %></p>
<ul>
  <% unless @post.tags.empty? %>
    <% @post.tags.each do |tag| %>
      <li><%= tag.name %></li>
    <% end %>
  <% end %>
</ul>
<%= button_to 'Edit', edit_post_path(@post), method: 'get', class: 'btn btn-primary' %>
<%= button_to 'Delete', post_path(@post), method: 'delete', class: 'btn btn-danger' %>
